# Dev
.idea
.DS_Store
.vscode
tags

# Composer / Node
#wp-content/themes/kmaidx/vendor/
#wp-content/themes/kmaidx/node_modules/

# Logs & Config
.user.ini
php.ini
*error_log
wp-config.php

# Content
*/cache/
wp-content/wflogs/
wp-content/themes/uploads/
wp-content/plugins/
